.accpick__price {
    display: flex;
    justify-content: center;
        font-family: var(--font-family)
}

.box {
    flex-basis: 33.33% - 20px;
    background-color: antiquewhite;
        border: 1px solid #000;
        text-align: left;

        align-items: center;
        margin: 2px;
        padding: 6px;
    }
    
    .box ul {
        list-style: none;
        padding: 0;
        font-family: var(--font-family)
    }
    
    .accpick__price-headbronze {
        background: var(--gradient-bar);
        color: #fff;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 5px;
    }
    
    .accpick__price-headsilver {
        background: var(--gradient-bar);
        color: #fff;
        padding: 10px;
        font-size: 25px;
    }
    
    .accpick__price-headgold {
        background: var(--gradient-bar);
        color: #fff;
        padding: 10px;
        font-size: 20px;
}

.get-quote-btn {
    margin: 0 auto;
    display: block;
    background: var(--gradient-bar);
    transition: transform 0.3s ease;

    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.get-quote-btn:hover {
    transform: scale(1.1); /* Scale the button on hover */
  }

.accpick__price button,
.accpick__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: var(--gradient-bar);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.accpick__price-price {
    font-size: 18px;
    margin-bottom: 6px;
}
.accpick__price-des {
    line-height: 1.5;
}
@media screen and (max-width: 767px) {
    .accpick__price {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .box {
        margin: 0;
        margin-bottom: 20px;
        padding: 10px;
    }

    .accpick__price-des {
        font-size: 18px;
        line-height: 1.8;
    }
}