.accpick__accpickpos {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 30% -100%, #f3f4f5 25%, rgba(186, 189, 194) 85%, rgba(200, 207, 214) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 30% -100%, #f3f4f5 25%, rgb(186, 189, 194) 85%, rgba(200, 207, 214) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 30% -100%, #f3f4f5 25%, rgba(186, 189, 194) 85%, rgba(200, 207, 214) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 30% -100%, #f3f4f5 25%, rgba(186, 189, 194) 85%, rgba(200, 207, 214) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 30% -100%, #f3f4f5 25%, rgb(186, 189, 194) 85%, rgb(200, 207, 214) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.accpick__accpickpos-feature {
    display: flex;
}

.accpick__accpickpos-feature .accpick__features-container__feature {
    margin: 0;
}

.accpick__accpickpos-feature .accpick__features-container__feature-text {
    max-width: 700px;
}

.accpick__accpickpos-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.accpick__accpickpos-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    max-width: 510px;
    font-size: 34px;
    line-height: 45px;
}

.accpick__accpickpos-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border: 2px solid #1bd4e1ff;
        border-radius: 5px;
        padding: 5px;

    color: var(--color-subtext_black);
    cursor: pointer;
}

.accpick__accpickpos-heading p:hover {
    border: none;
    background-color: #1bd4e1ff;
    color: black;
    padding: 5px;
}
.accpick__accpickpos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
    
}

.accpick__accpickpos-container .feature1 {
    padding-right: 15px;
}

.accpick__accpickpos-container .feature2 {
    padding-right: 15px;
}


/* Customizing feature component as per needs */
.accpick__accpickpos-container .accpick__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.accpick__accpickpos-container .accpick__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    accpick3__whatgpt3-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .accpick__accpickpos-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {

    /* Customizing feature component as per needs */
    .accpick__accpickpos-feature .accpick__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .accpick__accpickpos-feature .accpick__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .accpick__accpickpos-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {

    /* Customizing feature component as per needs */
    .accpick__accpickpos-container .accpick__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}