.fixed-button-container {
    display: flex;
    justify-content: center;
        bottom: 20px;
            padding: 17px;
            border: none;
            border-radius: 50px;
            right: 10px;
            background-color: #25d366;
            align-items: center;
            position: fixed;
            z-index: 100;
}

.whatsapp_float {
    display: flex;
    align-items: center;
        text-decoration: none;
        color: #fff;
}

.icon {
    font-size: 26px;
}

@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
        justify-content: center;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
        align-items: center;
            justify-content: center;
    }
    
}