@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #1175bcff 1.84%, #1bd4e1ff 102.67%);
        --gradient-bar: linear-gradient(103.22deg, #1175bcff -13.86%, #1bd4e1ff 99.55%);

    --color-bg: #dddfe4ff;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #031B34;
        --color-subtext: #1bd4e1ff;
        /* --color-subtext_black: #000; */
}